body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 25px;
  font-family: 'Open Sans', sans-serif;
 }


#grid-start {
  display: grid;
  grid-template-columns: .5fr .5fr .5fr;
  gap: 30px;
  justify-items: start;
 
}


:root {
  /* violet */
  --primary-color: 0, 128, 128;

  --secondary-color: 226, 99, 16;
  
  /* white */
  --text-color: 256, 256, 256;
}

.text{
  font-size: 1rem;
}

.btn {
  font-size: 15px;
  margin: .5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 25px 0px;
}
.btn-glow2:hover {
  box-shadow: rgba(var(--secondary-color), 0.5) 0px 0px 25px 0px;
}
.btn-connect {
  color: #fff;
  background-color: teal;
  padding: 5px 20px;
  
}

.btn-enable {
  color: #fff;
  background-color: teal;
  padding: 5px 20px;
  
}

.btn-stake {
  color: #fff;
  background-color: teal;
  padding: 5px 30px;
  
}

.btn-unstake {
  color: #fff;
  background-color: rgb(226, 99, 16) ;
  padding: 5px 20px;

  
}

.buttonSpace {

padding-top: 2%;
}

.inputText {
  position: relative;
  margin-top: 10%;
  padding-bottom: none;
  font-size:1rem;
  
}

.input {
position:inherit;
margin-top:none;
width: 80%;
 line-height: 1;
 border: 1px solid hsl(0, 0%, 90%);;
}

.smallYbc {
  font-size: small;
  margin-left: 5%;
  margin-top: 1%;
}

.mediumYbc {
  position: absolute;
  font-weight: 500;
  
}

.amountCard {
  line-height: 4;
}

.amountText {
  padding-top: 2%;
  font-size:1rem;
}